body{
    margin: 40px;

} 
nav{
    margin-left: 150px;
    text-align: right;
    margin-right: 150px;

}
.circular_image {
    width: 450px;
    height: 450px;
    border-radius: 50px;
}
button{
    background-color:gray;
    border-radius: 60px;
    margin: 20px;
    padding: 8px;
    text-align: center;
}
.social_media{
    display: left;
    margin: 15px;
    gap: 10px;

}
.social_logo{
    width: 35px;
    height: 35px;
    margin: 20px;
    gap: 1px;
}
h2{
    text-align: center;
    margin-top: -390px;
    margin-left: 290px;
}